<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kalkulator licencji w RailNation</title>
</head>
<body ng-app="railNationTools">
    <form ng-submit="OnSubmit()" ng-controller="MainCtrl">
        Towar:
        <select ng-model="goods" ng-options="c.value as c.name for c in options"></select> (bonus {{goods}} za sztukę)
        <div>
            Ilosc pociagow: <input type="number" ng-model="trains" />
        </div>
        <div>
            Ilosc wagonow w pociagu: <input type="number" ng-model="waggons" />
        </div>
        <div>
            Całkowity czas rozkladu jazdy: <input ng-model="timePerTrain" />
        </div>
        <button type="submit">Przelicz</button>

        <div>
            Zysk z dwudniowej licencji: {{profitFromLicense}}
        </div>
        <div>
            <h3>Zawiłości licencyjne</h3>
            Cena z licencji nie jest mnożona przez bonusy na konkursy miejskie. Najpierw cena w mieście jest mnożona x2 przykładowo, a dopiero do tego jest dodawany bonus z licencji.
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="MainCtrl.js"></script>
</body>
</html>
